<nav class = "row">
    <div class="navbar" id = "topnav">
      <div class="navbar-inner">
        <div class="container">
          <ul class="nav">
            <li><a href="/">Home</a></li>
            <li><a href="about.html">About/FAQ</a></li>
            <li><a href="browse.html">Browse</a></li>
            <li><a href="myaccount.html">My Account</a></li>
            <li><a href="advancesearch.html">Advanced Search</a></li>
            <li><a href="contact.html">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
</nav>

<section id = "signup" class="row">
  <section id = "signupcontent" class="container">
    <h2>Sign up</h2>

    <div class="row">
      <div class="span6 offset3">
        <%= form_for(@user) do |f| %>
    		<% if @user.errors.any? %>
    		  <div id="error_explanation">
    		    <div class="alert alert-error">
    		      The form contains <%= pluralize(@user.errors.count, "error") %>.
    		    </div>
    		    <ul>
    		    <% @user.errors.full_messages.each do |msg| %>
    		      <li>* <%= msg %></li>
    		    <% end %>
    		    </ul>
    		  </div>
    		<% end %>

          <%= f.label :first_name, "First Name" %>
          <%= f.text_field :first_name %>

          <%= f.label :last_name, "Last Name" %>
          <%= f.text_field :last_name %>

          <%= f.label :username, "Username (minimum 6 characters)" %>
          <%= f.text_field :username %>

          <%= f.label :email, "Email (.edu)" %>
          <%= f.text_field :email %>

          <%= f.label :zipcode, "Zipcode" %>
          <%= f.text_field :zipcode %>

          <%= f.label :password, "Password (minimum 6 characters)" %>
          <%= f.password_field :password %>

          <%= f.label :password_confirmation, "Confirm Password" %>
          <%= f.password_field :password_confirmation %>

          <%= f.submit "Create my account", class: "btn btn-large btn-primary", id: "submitbutton" %>
        <% end %>
      </div>
    </div>
  </section>
</section>